#left-column {
  float: left;
}

#right-column {
  float: right;
}

aside {
  width: 15%;
  height: 100%;
  background-color: white;
}

#heading {
  background-color: orange;
  color: black;
  padding: 5px 0px 5px 0px;
  margin-left: 15%;
  margin-right: 15%;
}

#login {
  float: right;
}

a {
  color: black;
  text-decoration: none;
}

ol {
  padding: 0px 0px 10px 0px;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
}

li {
  padding: 10px 0px 10px 0px;
}

main {
  background-color: #D9D9D9;
  margin-left: 15%;
  margin-right: 15%;
}

#line {
  background-color: orange;
  font-size: 2px;
  margin-left: 15%;
  margin-right: 15%;
}

#footing {
  font-size: 16px;
  background-color: #D9D9D9;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.foottext {
  font-size: 16px;
}

#search {
  font-size: 16;
  font-weight: bold;
  background-color: #D9D9D9;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 100%;
  text-align: center;
  padding: 10px 0px 30px 0px;
}
